# Python cache
__pycache__/
*.pyc

# Исходный файл закладок пользователя (не включать в репозиторий)
Anixart_Bookmarks*.csv

# Папки с рассортированными торрентами (не включать в репозиторий)
Просмотрено/
В планах/
Отложено/
Смотрю/
Остальные торренты/
Результаты_сортировки.txt
Коллекция_Аниме.csv

# Исключаем сами тяжелые .torrent файлы из Git (ссылка на архив в торренты/README.md)
*.torrent
торренты/*.torrent
торренты/**/*.torrent
!торренты/README.md
